<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="xbiss/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="xbiss/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="xbiss/css/morris.css">
    <link rel="stylesheet" type="text/css" href="xbiss/css/style.css">
    <link rel="stylesheet" type="text/css" href="xbiss/css/custom.css">
</head>
<body>

	<div class="main-wrapper">
			<div class="account-page">
				<div class="container">
					<h3 class="account-title">Create Shop Account</h3>
					<div class="account-box">
						<div  class="account-wrapper">
							<div class="account-logo">
								<a href="index.html"><img src="xbiss/img/logo2.png" alt="Verify Mobile No."></a>
							</div>
							<div id="divMobile" >
							<label id="txtErr" class="txtErr" ></label>
							<div id="divPhn">
								<div class="form-group form-focus">
									<label class="control-label">Enter Mobile No.</label>
									<input id="txtMobileNo" id="txtMobileNo" class="form-control floating" type="text">
								</div>
							</div>
							
							<label id="txtErrEmail" class="txtErr" ></label>
							<div id="divEmail" style="display: none;">
								<div class="form-group form-focus">
									<label class="control-label">Enter Email ID</label>
									<input id="txtEmail" id="txtEmail" class="form-control floating" type="Email">
								</div>
							</div>

							<div id="divCode" style="display: none;">
								<div class="form-group form-focus">
									<label class="control-label">Enter Verification Code</label>
									<input id="txtCode" id="txtCode" class="form-control floating" type="text">
								</div>
							</div>

								
								<div class="form-group text-center">
									<button id="btnVerify" class="btn btn-primary ladda-button btn-block account-btn" data-style="zoom-in"><span class="ladda-label">Sent OPT</span></button>

								</div>
								<div class="text-center">
									Already have an account? <a href="#">login</a>
								</div>
							</div>

							<div id="divPass" style="display: none;">
								<label id="txtErrPass" class="" ></label>
								<div >
									<div class="form-group form-focus">
										<label class="control-label">Password</label>
										<input id="txtPass" id="txtPass" class="form-control floating" type="password">
									</div>
								</div>
								
								<label id="txtErrCpass" class="txtErr" ></label>
								<div id="" >
									<div class="form-group form-focus">
										<label class="control-label">Confirm Password</label>
										<input id="txtRePass" id="txtRePass" class="form-control floating" type="password">
									</div>
								</div>
								<div class="form-group text-center">
									<button id="btnPass" class="btn btn-primary ladda-button btn-block account-btn" data-style="zoom-in"><span class="ladda-label">Create Password</span></button>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
        </div>


	<script type="text/javascript" src="xbiss/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="xbiss/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="xbiss/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="xbiss/js/morris.min.js"></script>
    <script type="text/javascript" src="xbiss/js/raphael-min.js"></script>
    <script type="text/javascript" src="xbiss/js/spin.min.js"></script>
    <script type="text/javascript" src="xbiss/js/ladda.min.js"></script>
    <link rel="stylesheet" href="xbiss/js/ladda-themeless.min.css">
    <script type="text/javascript" src="xbiss/js/app.js"></script>
    <script type="text/javascript" src="xbiss/js/custom.js"></script>

</body>
</html>